.explore-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 75vh;
    
    padding-top: 20px;
    

}
.s-bar{
    
    width: 90%;
    height: 100%;
}