.tab1{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
.tab{
    margin-left: 40px;
    margin-right: 40px;
    height: 60vh;
}
.note-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}